---
import Layout from '../layouts/Layout.astro';
import Title from "../components/title.astro"

---
<Layout>
  <Title title="Contactame"  style="text-4xl border-b-4 border-rose-300 pb-4"/>
  <section class="flex items-center justify-center w-full h-fit">
    <form  class="flex flex-col gap-5 p-10 rounded-lg border-4 border-orange-200 bg-gray-50 text-gray-900 ">
      <label>
        Nombre:
        <input type="text" name="name" required  class="bg-gray-200"/>
      </label>

      <label>
        Correo Electrónico:
        <input type="email" name="email" required class="bg-gray-200"/>
      </label>

      <label>
        Mensaje:
        <textarea name="message" required class="bg-gray-200 min-h-30"></textarea>
      </label>

      <input type="submit" name="enviar" value="Enviar" id="" class="bg-amber-200 active:bg-amber-400 cursor-pointer transition-all duration-100">
    </form>
  </section>
</Layout>

<script>
import emailjs from '@emailjs/browser';

const form = document.querySelector(".formulario")

form?.addEventListener('submit', (e)=>{
  e.preventDefault()
  
  const formData = new FormData(e.target);
  const name = formData.get("name");
  const email = formData.get("email");
  const message = formData.get("message");
  
  const templateParams = {
    namepo :name,
    emailpo:email,
    messagepo:message
  };

  emailjs.send('service_317pqop', 'template_3j4vlvj', templateParams, { publicKey: 'GeELFdkPtYpwauTrX', })
  .then( (response) => {
      console.log('SUCCESS!', response.status, response.text);
      console.log(response)
    }, (err) => {
      console.log('FAILED...', err);
    },
  );

})
</script>

<style>
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 13px;
    max-width: 400px;
    border-radius: 10px;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  button {
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  button:hover {
    background: #0056b3;
  }
</style>
