---
import Title from "../components/title.astro";
import Layout from '../layouts/Layout.astro';

---

<Layout titlePage="Portafolio">
    <header class="flex flex-col gap-5">
      <Title title="Portafolio"  style="text-4xl border-b-4 border-orange-300 pb-4"/>
      <p class="paragraph">Aquí encontrarás algunos de mis proyectos en desarrollo. Aunque aún pueden tener errores o mejoras pendientes, cada uno representa un paso en mi crecimiento como desarrollador.</p>

    </header>


    <section class="w-full h-fit">
        <Title title="Proyectos Web" style="text-2xl" />
    </section>
</Layout>

<style>
  .paragraph{
     font-family: 'Nunito', sans-serif;
  }
</style>
