---
 
import Layout from '../layouts/Layout.astro';
import Title from "../components/title.astro"
import ResumeCard from "../components/resumeCardList.astro"

const educationsCard = [
  {style:"bg-amber-50 h-35",title:"Aprendizaje Autodidacta", paragraph:"He desarrollado habilidades en desarrollo web y software a través de libros, documentación oficial y proyectos prácticos. "},
  {style:"bg-yellow-100 h-35",title:"Cursos y Recursos Online", paragraph:"He aprendido de plataformas, videos y comunidades, fortaleciendo mis conocimientos en tecnologías web, Linux, programación y sistemas operativos."},
];

const experiencieCard = [
  {style:"bg-teal-100 h-35",title:"Proyectos Personales",paragraph:"He desarrollado aplicaciones web, scripts y herramientas automatizadas para resolver problemas reales y mejorar mi productividad."},
  {style:"bg-rose-50 h-35",title:"Desarrollo en el Colegio",paragraph:"Desarrollé scripts para automatizar tareas repetitivas de algunos profesores, optimizando su tiempo y facilitando la gestión de actividades académicas."},
  {style:"bg-orange-200 h-35",title:"Emprendimiento y Gestión",paragraph:"Inicié el desarrollo de un sistema web para la gestión de productos y ventas del colegio, pero el proyecto quedó inconcluso por factores externos."},
];

const skill = [
  {
    title:"Lenguages", 
    skill:[
      {icon:"skills/languages/html", percentage:"100%"},
      {icon:"skills/languages/css", percentage:"95%"},
      {icon:"skills/languages/js", percentage:"95%"},
      {icon:"skills/languages/bash", percentage:"80%"},
      {icon:"skills/languages/sql", percentage:"60%"},
    ]
  },
  {
    title:"Frameworks/Librerias", 
    skill:[
      {icon:"skills/extras/tailwind", percentage:"95%"},
      {icon:"skills/extras/react", percentage:"75%"},
      {icon:"skills/extras/astro", percentage:"80%"},
      {icon:"skills/extras/nodejs", percentage:"80%"},
      {icon:"skills/extras/express", percentage:"85%"},
    ]
  },
  {
    title:"Herramientas", 
    skill:[
      {icon:"skills/tools/git", percentage:"50%"}
      {icon:"skills/tools/mysqlworkbrench", percentage:"50%"}
      {icon:"skills/tools/nvim", percentage:"97%"}
    ]
  },
  {
    title:"Sistema Operativos", 
    skill:[
      {icon:"skills/os/arch", percentage:"98%"},
      {icon:"skills/os/ubuntu", percentage:"100%"},
      {icon:"skills/os/windows", percentage:"60%"},
    ]
  },
]

---

<Layout>
  <article class="flex flex-col gap-5 w-full h-fit">
    <Title title="Resumen"  style="text-4xl border-b-4 border-blue-300 pb-4"/>
    <section class="flex gap-5 w-full h-full">
      <ResumeCard icon="resumen/education" title="Educacion" cardList={educationsCard} />
      <ResumeCard icon="resumen/experiencie" title="Experiencia" cardList={experiencieCard} />
    </section>
  </article>
  <article class="flex flex-col gap-5 w-full h-fit">
    <Title title="habilidades"  style="text-3xl"/>
    <section class="flex flex-col w-full">
      <div class="">
      </div>
    </section>

    <section class="w-full">
    </section>
  </article>
</Layout>
