---
import { Icon } from 'astro-icon/components'

const {icon, text, link} = Astro.props
---

<a class="flex flex-col gap-1  items-center justify-center rounded-xl w-24 h-24 p-2 cursor-pointer bg-gray-100 hover:bg-orange-300 transition-all duration-100" href={link}>
  <Icon class="w-14 h-14 text-gray-700 hover:text-blue-950" name={icon}/>
  <span class="text-sm text-gray-700 hover:text-blue-950">{text}</span>
</a>

