---
import { Icon } from 'astro-icon/components'
import Title from "./title.astro"


const {icon, title, paragraph, style} = Astro.props
---

<article class=`${style} flex w-full gap-2  p-4 h-content  rounded-lg `>
  <div class="w-20 h-full "> 
    <Icon name={icon} class="text-5xl"/>
  </div>

  <div class="flex flex-col content-start flex-grow h-full "> 
    <Title title={title} style="text-gray-900 text-2xl font-medium"/>
    <p class="about-p text-gray-700">{paragraph}</p>
  </div>
</article>



<style>
  .about-p{
     font-family: 'Nunito', sans-serif;
  }
</style>
