---
import { Icon } from 'astro-icon/components'

const {icon, percentage}  = Astro.props
---

<div class="relative w-20 h-20 p-2 rounded-lg bg-red-100">
  <section class="absolute -top-full flex items-center mb-2 rounded-lg boder-2 border-gray-700 bg-white">
  </section>
  <!--<Icon name={icon}/>-->
</div>
