

<div class="flex flex-col justify-center items-center w-1">
  <span class="line"></span>
  <span class="circle"></span>
  <span class="line"></span>
</div>

<style>
  .line{
    width: 100%;
    flex-grow: 1;
    background-color: lightcoral;
  }

  .circle{
    position: relative;
    width: 30px;
    height: 30px;
    margin-top:5px;
    margin-bottom:5px;
    border-radius: 100%;
    border: 5px solid lightsalmon;
    background-color: white;
  }
</style>
