---
import '@fontsource/inter';
import "../styles/global.css"

import { Icon } from 'astro-icon/components'

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>
	</head>
	<body>
    <header class="flex justify-between w-full">
      <button>Claro</button>
      <button>Information</button>
    </header>

    <main class="flex  justify-center gap-5 w-full h-fit min-h-96 ">
      <aside class="flex items-center flex-col gap-4  h-fit pb-5 px-10 rounded-xl bg-white">
          <figure class="relative h-30 w-60 mb-2">
            <img src="" alt="" class="absolute -top-30 w-60 h-60 rounded-xl border-2 border-gray-600">
          </figure>

          <section class="flex flex-col items-center">
            <h1 class="name text-2xl tracking-wide">Juan Santiago</h1>
            <h2 class="font-sans sub-title text-xs px-2 py-1 mb-2 rounded-lg bg-gray-100 text-gray-600">Fullstack developer</h2>
            <div class="flex justify-center gap-2 w-full">
              <Icon class="w-6 h-6" name="github" />
              <Icon class="w-6 h-6" name="linkedin" />
            </div>
          </section>

          <article class="w-full h-96 bg-gray-200 rounded-xl">
          </article>
      </aside>

      <article class="flex-grow-2 h-full rounded-xl bg-white">
        <slot />
      </article>

      <nav class="w-32 h-full rounded-xl bg-white">
      </nav>
    </main>

    <footer class="w-full h-30 bg-red-900">
      
    </footer>
	</body>
</html>

<style>
  body{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 15rem;
    width: 100%;
    height: 100vh;
    padding: 4rem 9rem;
    background-color: rgb(230,230,230);
    overflow-y: auto;
    overflow-x: none;
  }

  .name {
    font-family: 'Inter', sans-serif;
  }
</style>
